*{
    margin:0;
    padding:0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#header,
#footer {
    background-color: #0069c0;
    height: 100px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#footer a{
    margin:0 8px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.register {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 12px;
    padding: 24px;
    border: solid 1px black;
    border-radius: 16px;

}

#message {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
#success {
    color: rgb(42, 209, 0);
    font-size: 20px;
    font-weight: bold;
}

input {
    border: solid 1px black;
    border-radius: 5px;
    height: 24px;
}